body{
    margin: 0%;
}

/* HEADER */ 

header{
    height: 73px;
    width: 100%;
    background-color: #010101;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-logo{
    padding-left: 20px;
    padding-top: 10px;
}
#logo-header{
    height: 80px;
}

.container-buscar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 30px;
    width: 330px;
    background-color: #B0B0B0;
    border-radius: 25px;
}

#buscar{
    outline: none;
    border: none;
    height: 28px;
    width: 300px;
    background-color: #B0B0B0;
    color: #010101;
}

#buscar::placeholder{
    color: #010101;
}

.btn-buscar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lupa{
    height: 20px;
}

.container-user{
    display: flex;
    flex-direction: row ;
    align-items: center ;
    padding-right: 20px;
}

div h4 {
    color: #CB8AD5;
}

div h4:hover{
    color: #EEDBF3;
} 

#user{
    height: 45px;
}

/* FOOTER */

footer{
    height: 300px;
    width: 100%;
    background-color: #0A0A0A;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.container-acerca{
    height: 80%;
    width: 51%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.container-acerca h2{
    color: #E2BFE8;
    text-align: start;
    margin: 0%;
}

.container-acerca p, .container-line-footer h3{
    color: #E2BFE8;
}

.container-line-footer h3:hover{
    color: #B240D9;
    text-shadow: 1px 1px 15px rgb(124, 124, 124);
}

.container-line-footer{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
}
    
.line-footer{
    display: flex;
    flex-direction: column;
    border-left: 3px solid #E2BFE8;
    border-radius: 5px;
    height: 90%;
    margin-right: 25px;
}
 
.container-red-social{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-red-social h3{
    padding-left: 10px;
}

.container-line-footer a{
    text-decoration: none;
}

.logo-footer{
    height: 30px;
}
