a{
    text-decoration: none;
}

/* CONTENEDORES */

.container-pantalla{
    display: flex;
    flex-direction: row;
}

nav{
    height: auto;
    width: 15%;
    background-color: #1B1B1B;
}
.container-derecha{
    display: flex;
    flex-direction: column;
    width: 85%;
}


.container-pantalla section{
    height: 1300px;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

/* CONTENEDOR JUEGO, INFO Y CARRRUSEL */

.container-info-juego{
    height: 95%;
    width: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.carrusel-vertical{
    background-color: rgb(246, 246, 246, 0.08);
    height: 95%;
    width: 16%;
    border-radius: 13.5px;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    display: none;
}

/* JUEGO */

.jugar-juego{
    height: 42%;
    width: 100%;
}

.jugar-juego img{
    width: 100%;
    height: 100%;
    border-radius: 13.5px;
}

/* INFO JUEGO */

.info-juego{
    background-color: #0A0A0A;
    height: 55%;
    width: 100%;
    border-radius: 13.5px;
}

.first-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.info-juego h2{
    font-size: 30px;
    color: #E2BFE8;
}

.info-juego span:hover{
    color: #8600B5;
    cursor: pointer;
}


.info-juego span, .info-juego h3{
    font-size: 18px;
    margin: 0px 5px;
    color: #E2BFE8;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    border: none;
    padding: 0%;
    margin-left: 5%;
    background-color: #B240D9;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
}

.btn h3{
    color: #000000;
}

.btn:hover{
    background-color: #CB8AD5;
}

#logo-compartir{
    height: 20px;
}

/* POPUP COMPARTIR */

#popUpRedes::backdrop{
    background-color: rgba(0, 0, 0, 0.8);
    border: none
}

.container-compartir{
    background-color: rgb(27, 27, 27, 0.9);
    width: 400px;
    height:400px;
    border-radius: 13.5px;
}

.container-compartir .titulo{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center  ;
}

.titulo h1{
    font-size: 25px;
    margin: 10px;
    margin-right: 33%;
    color: #ffffff;
}

#cerrar-popUpRedes{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 22%;
}

.bloque-redes{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bloque-redes h1{
    color: #CB8AD5;
}

.container-logo-redSocial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-redSocial{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.logo-redSocial:hover{
    border: solid #8600B5;
}

.container-link{
    display: flex;
    flex-direction: column;
    
    margin: 0% 5%;
}

.container-link h1{
    color: #f7f7f7;
    font-size: 20px;
    margin: 10px 0px;
}

#link-page{
    width: 100%;
    height: 30px;
    background-color: rgba(246, 246, 246, 0.2);
    font-size: 12px;
    border-radius: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-page h4{
    color: #B0B0B0;
}

/* CARRUSEL */

.carrusel{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8%;
}

.box-carrusel{
    width: 85%;
    height: 110px;
    background-color: #ffffff;
    border-radius: 13.5px;
    margin-top: 8%;
}