@import url("https://fonts.googleapis.com/css2?family=Lato");

*{
    font-family: "lato";
}

.cielo .content, .container-derechos .content{
    margin: 0px;
}

.footer{
    width: 100%;
}

.footer .cielo{
    margin-top: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1296px;
    width: 100%;
    background: linear-gradient(#8FBEFC, #F7E3D8);
}


.subscribite{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.subscribite .titulo{
    margin-top: 151px;
    font-size: 60px;
    font-family: "lato";
    font-weight: 600;
    width: 816px;
    text-align: center;
    line-height: 94.2%;
}

.btn-input-footer{
    display: flex;
    width: 780px;
    height: 100px;
    border-bottom: solid #02187E;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 46px;
}

.btn-input-footer input{
    background-color: #ffffff;
    border: solid #2982FF 9px;
    border-right: 0px;
    width: 562px;
    height: 80px;
    padding-left: 43px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 20px;
    font-family: "lato";
    letter-spacing: 11%;
    line-height: 94.5%;
}

.btn-input-footer input::placeholder{
    color: black;
    opacity: 39%;
}

.btn-input-footer button{
    background-color: #FFE901;
    border: solid #2982FF 9px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 218px;
    height: 100px;
    font-size: 20px;
    letter-spacing: 1px;
    -webkit-text-stroke: 3px #02187E;
    font-family: 'lato';
    color: #02187E;
    cursor: pointer;
}

.subscribite p{
    margin-top: 39px;
    width: 578px;
    height: 95px;
    font-size: 20px;
    margin-right: 90px;
}

.subscribite p span{
    text-decoration: underline;
}

.esrb{
    width: 231px;
    height: 145px;
    margin-top: 30px;
    margin-right: 436px;
}

.spidey-negro-footer{
    position: absolute;
    margin-top: 1135px;
    margin-right: 820px;
    width: 97px;
    height: 89px;
    z-index: 1;
}

.spidey-rojo-footer{
    position: absolute;
    margin-top: 965px;
    margin-left: 745px;
    width: 94px;
    height: 88px;
    z-index: 1;
}

.spidey-blanco-footer{
    position: absolute;
    margin-top: 1071px;
    margin-right: 230px;
    width: 58px;
    height: 64px;
    z-index: 1;
}

.layer1-footer{
    background-image: url("../img/footer/layer1-footer.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 720px;
    margin-top: 576px;
}

.plataformas{
    background-color: #242424;
    height: 80px;
    display: flex;
    justify-content: center;
}

.consolas{
    background-image: url("../img/footer/consolas-footer.png");
    height: 100%;
}

.container-derechos{
    width: 100%;
    height: 598px;
    background-color: #5E5E5D;
    display: flex;
    justify-content: center;
}

.derechos{
    display: flex;
    flex-direction: column;
    
}

.derechos p{
    margin-top: 38px;
    width: 820px;
    font-size: 20px;
    font-family: 'lato';
    color: #FFFFFF;
    font-weight: none;
    line-height: 94.5%;
    letter-spacing: 1.5px;
}
.derechos p span{
    text-decoration: underline;
}

.social-media{
    margin-top: 38px;
    background-image: url("../img/footer/social-media.png");
    background-repeat: no-repeat;
    height: 41px;

}
