@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

.hero {
    width: 100%;
    background-image: url("../img/background/bg-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1500px;
    display: flex;
    justify-content: center;
}

.content {
    width: 1080px;
    height: 600px;
}

.btn-menu {
    margin-top: -58px;
    margin-left: -4px;
}

.line-btn-menu {
    height: 4px;
    width: 34px;
    background-color: #FFE901;
    border-radius: 111px;
    border: 4px solid #2981FF;
    box-shadow: 4px 5px #02187E;
}

.line2, .line3 {
    margin-top: -1px;
}

.btn-comprar {
    background-color: #FFE901;
    height: 58px;
    width: 208px;
    border-radius: 111px;
    border: 8px solid #2981FF;
    box-shadow: 4px 5px #02187E;
    margin-top: 12px;
    margin-left: 880px;
}

.btn-comprar span {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #02187E;
    font-weight: 900;
    -webkit-text-stroke: 1px #02187E;
}

.bg-city1, .bg-city2, .bg-city3 {
    z-index: 1;
}

.bg-city1 {
    position: absolute;
    top: 144px;
    left: -55px;
}

.bg-city2 {
    position: absolute;
    top: 634px;
    left: auto
}

.bg-city3 {
    position: absolute;
    top: 126px;
    right: -5px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.title img {
    height: 301px;
    width: 590px;
    margin-right: 30px;
}

.characters {
    width: 100%;
    display: flex;
}

.spiderman-1-hero, .spiderman-2-hero, .spiderman-3-hero {
    z-index: 50;
}

.spiderman-1-hero {
    margin-left: -10px;
}

.spiderman-2-hero {
    margin-left: -46px;
    margin-top: 15px;
}

.spiderman-3-hero {
    margin-left: -174px;
    margin-top: -53px;
    height: 393px;
}

.spiderweb1, .spiderweb2 {
    position: absolute;
    z-index: 60;
    object-fit: fill;
}

.spiderweb1 {
    top: 375px;
    left: 0;
}

.spiderweb2 {
    top: 388px;
    right: 0;
}