@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

/* --------------- SECTION HERO --------------- */
.hero {
    width: 100%;
    background-image: url("../img/background/bg-1.png");
    background-size: cover;
    display: block;
}

/* BACKGROUND */
.bg-city1, .bg-city2, .bg-city3 {
    z-index: 1;
    transition: 0.2s all ease;
}

@keyframes entry-city1 {
    from {top: 600px}
    to {top: 144px}
}

.entry-city1 {
    animation-name: entry-city1;
    animation-duration: 0.5s;
}

@keyframes entry-city2 {
    from {top: 900px;}
    to {top: 634px;}
}

.entry-city2 {
    animation-name: entry-city2;
    animation-duration: 0.5s;
}

@keyframes entry-city3 {
    from {top: 600px;}
    to {top: 126px;}
}

.entry-city3 {
    animation-name: entry-city3;
    animation-duration: 0.5s;
}


.bg-city1 {
    position: absolute;
    top: 144px;
    left: -55px;
}

.bg-city2 {
    position: absolute;
    top: 634px;
    left: 33%;
}

.bg-city3 {
    position: absolute;
    top: 126px;
    right: -5px;
}

.content {
    width: 1080px;
    margin: auto;
}

/* NAV */

.nav {
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: 0.8s all ease-out;
}

.content-nav {
    width: 1080px;
    margin: auto;
}

.menu {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 210px;
    background-color: #FFE901;
    border-right: 5px solid #2981FF;
    z-index: 99;
    top: 0;
    left: -215px;
    transition: 1s all ease-in-out;
    padding-top: 105px;
    opacity: 0.98;
}

.menu a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2981FF;
    margin-left: -400px;
}

.menu a:hover {
    background-color: #dccb0f;
}

.btn-menu {
    margin-top: -58px;
    margin-left: -4px;
    position: fixed;
    z-index: 100;
    cursor: pointer;
}

.btn-menu.active {

    .line-btn-menu {
        box-shadow: none;
        width: 40px;
    }

    .line1 {
        transform: rotate(-35deg) translateY(6px) translateX(-10px);
        transition: 1s;
    }

    .line2 {
        visibility: hidden;
        transition: 0.2s;
    }

    .line3 {
        transform: rotate(35deg) translateY(-6px) translateX(-10px);
        transition: 1s;
    }
}

.menu.active {
    left: 0px;
    transition: 1s;
    
    #menu-item-1 {
        animation: menu-item-entry 0.5s 0.7s forwards;
    }

    #menu-item-2 {
        animation: menu-item-entry 0.5s 1s forwards;
    }

    #menu-item-3 {
        animation: menu-item-entry 0.5s 1.3s forwards;
    }
    #menu-item-4 {
        animation: menu-item-entry 0.5s 1.6s forwards;
    }
    #menu-item-5 {
        animation: menu-item-entry 0.5s 1.9s forwards;
    }
}

@keyframes menu-item-entry {
    to {margin-left: 0;}
}


.line-btn-menu {
    height: 4px;
    width: 34px;
    background-color: #FFE901;
    border-radius: 111px;
    border: 4px solid #2981FF;
    box-shadow: 4px 5px #02187E;
    transition: 1s;
    z-index: 100;
}

.line2, .line3 {
    margin-top: -1px;
}

.btn-comprar {
    background-color: #FFE901;
    height: 58px;
    width: 208px;
    border-radius: 111px;
    border: 8px solid #2981FF;
    box-shadow: 4px 5px #02187E;
    margin-top: 12px;
    margin-left: 880px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #02187E;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px #02187E;
    transition: 1s;
}

.btn-comprar:hover{
    cursor: pointer;
    background-color: #02187E;
    -webkit-text-stroke: 1px #ffffff;
    box-shadow: 0px 0px #02187E;
    transition: 1s;
    -webkit-text-stroke: 1.5px #ffffff;
} 

/* CONTENT */

.container-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-title a {
    position: absolute;
    display: flex;
    justify-content: center;
}

@keyframes entry-title {
    from {top: -4000px;}
    to {top: 91px;}
}

.title {
    width: 590px;
    margin-right: 30px;
    top: 91px;
    position: fixed;
    z-index: 100;
    animation: entry-title 2.8s;
    transition: 0.5s all ease;
}

.characters {
    width: 100%;
    height: 868px;
    display: flex;
}

.spiderman-1-hero, .spiderman-2-hero, .spiderman-3-hero {
    z-index: 50;
    position: absolute;
    transition: 0.2s all ease;
}

@keyframes entry1 {
    from {margin-left:-1800px;}
}

@keyframes entry2 {
    from {margin-left: 3000px;}
    to {margin-left: 595px}
}

@keyframes entry3 {
    from {top: -2000px;}
    to {top: 403px;}
}

.spiderman-1-hero {
    top: 388px;
    margin-left: -10px;
    height: 444px;
    animation: entry1 1.3s;
}

.spiderman-2-hero {
    top: 403px;
    margin-left: 304px;
    height: 465px;
    animation: entry3 1.8s;
}

.spiderman-3-hero {
    top: 335px;
    margin-left: 595px;
    height: 393px;
    animation: entry2 1.6s;
}

.spiderweb-1, .spiderweb-2 {
    position: absolute;
    z-index: 60;
    object-fit: fill;
}

@keyframes entry-spiderweb1 {
    from {left: -60000px;}
    to {left: 0;}
}

@keyframes entry-spiderweb2 {
    from {right: -60000px;}
    to {right: 0;}
}

.spiderweb-1 {
    top: 400px;
    left: 0;
    width: 610px;
    height: 627.27px;
    animation: entry-spiderweb1 1.6s;
}

.spiderweb-2 {
    top: 388px;
    right: 0;
    width: 350px;
    height: 372.44px;
    animation: entry-spiderweb2 1.8s;
}