body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #be0000;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* SPIDEY */

.container-sprite{
  position: absolute;
  left: 430px;
  margin-bottom: 100px;
  animation: move 5.2s  linear;
}

.sprite{
  display: inline-block;
  background-image: url("../img/loader/sprite.png");
  background-repeat: no-repeat;
  background-position: -250px 0;
  width: 45px;
  height: 40px;
  animation: run 1s steps(4) infinite;
}

/* BARRA DE CARGA*/
.progress {
  background: rgba(255,255,255);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value {
  animation: load 5.2s normal linear;
  box-shadow: 0 10px 40px -10px #161515;
  border-radius: 100px;
  background: #050404;
  height: 30px;
  width: 0;
}


@keyframes run {
  to {
    background-position: -38px 0;
  }
}

@keyframes move {
  0% { transform: translate(0px); }
  100% { transform: translate(450px);; }
}

@keyframes load {
  0% { width: 0; }
  100% { width: 500px; }
}



