*{
    margin: 0;
}

*::-webkit-scrollbar {
    display: none;
}

body{
    background-color: black;
}

.container {
    width: 100%;
    display: block;
    justify-content: center;
}

.content {
    width: 1080px;
}
